.DS_Store
TrainedModels/
__pycache__/
FlaskPage/templates/forecastmap.html
FlaskPage/templates/actual_browsemap.html
FlaskPage/templates/pred_browsemap.html
FlaskPage/templates/forecastfail.html
FlaskPage/templates/browsefail.html
TrainData*.csv
TrainData*.zip
