* {box-sizing: border-box;}

.map-container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
}

.img-zoom-container {
  position: relative;
  display:flex;
  flex-wrap: wrap;
}

.img-zoom-lens {
  position: absolute;
  border: 1px solid #d4d4d4;
  /*set the size of the lens:*/
  width: 80px;
  height: 80px;
}

.img-zoom-result {
  border: 1px solid #d4d4d4;
  /*set the size of the result div:*/
  width: 220px;
  height: 220px;
}

.zoomed-img {
  width: 450px;
  height: 100%;
}
