{% extends 'base.html' %}

{% block head %}
<title>About the Site</title>
<hr></hr>
<b><h2>Neural Network Model</h2></b>
<p>
  A Long Short Term Memeory (LSTM) Neural Network was used to predict the weather.
  This is a type of recurrent NN, for unlike standard feed forward NN, LSTM has feedback connections.
  After being trained with multiple years worth of data, a model with ___ % accuracy was created.
  </p>
  <br></br>
  <b>Authors</b>  
  <p><i>Henry Dikeman </i>is an incoming senior chemical engineering student at the University of
Minnesota. His passion is the development of renewable feedstocks and biochemical processes in
the field of energy production.</p>
  <br></br>
  <p> <i>Patrick Gibbons-Peterson </i>is an incoming senior chemical engineering student at the University
of Minnesota. He is interested in the intersection between chemical engineering and computer
science and finds purpose in taking on sustainability oriented engineering projects.</p>
  <br></br>
  <p> <i>Shrinivas Venkatasubramani </i> is a sophomore chemical engineering and computer
science student at the University of Minnesota. He is currently exploring different fields to
discover his interests.</p>
{% endblock %}

{% block body %}

{% endblock %}
