{% extends 'base.html' %}

{% block head %}
<title>Browse</title>

{% endblock %}

{% block body %}
<div class="container">
  <div class="row">
    <div class="col-sm">
      <h2 style="text-align: center;"><strong>WEATHER DATA FOR {{ date }}</strong></h2>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-sm">
      <h3>Actual Weather</h3>
    </div>
    <div class="col-sm">
    </div>
    <div class="col-sm">
      <h3>Predicted Weather</h3>
    </div>
  </div>
</div>

<div class="map-container">
  <div class="img-zoom-container">
    <img id="actual-map" class="zoomed-img" src="{{ url_for('.browse_actual_img', day = date) }}" alt="Map">
    <div id="actual-map-zoom" class="img-zoom-result"></div>
  </div>
  <div class="img-zoom-container">
    <img id="predicted-map" class="zoomed-img" src="{{ url_for('.browse_pred_img', day = date) }}" alt="Map">
    <div id="predicted-map-zoom" class="img-zoom-result"></div>
  </div>
</div>

<script>
 imageZoom("actual-map", "actual-map-zoom");
</script>
<script>
 imageZoom("predicted-map", "predicted-map-zoom");
</script>

{% endblock %}
