{% extends 'base.html' %}

{% block head %}
<title>Browse: {{ loc_code }} on {{ date }}</title>

{% endblock %}

{% block body %}
<div class="container">
  <div class="row">
    <div class="col-sm">
      <h2 style="text-align: center;"><strong>WEATHER FOR {{ loc_code }} ON {{ date }}</strong></h2>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-6">
      <h3>Actual Weather</h3>
    </div>
    <div class="col-6">
      <h3>Predicted Weather</h3>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-6">
      <iframe style="border: none;" class="map", src="{{ url_for('.browse_actual_map') }}" width="100%" height="500px"></iframe>
    </div>
    <div class="col-6">
      <iframe style="border: none;" class="map", src="{{ url_for('.browse_pred_map') }}" width="100%" height="500px"></iframe>
    </div>
  </div>
</div>

<br>

<div class="container">
  <div class="row">
    <div class="col-4" style="text-align:center;">
      <br>
      <h5>Select Different Search Parameters:</h5>
      <form action="{{ request.path }}" method="POST">
        <div class="select" style="text-align:left;">
          <label for="search-date">Date:</label>
          <input type="date" id="search-date" name="search-date"
               value="{{ date }}"
               min="{{ backdate }}" max="{{ frontdate }}">
        </div>
        <br>
        <div class="select" style="text-align:left;">
          <label for="search-loc">Location:</label>
          <select id="search-loc" name="search-loc">
            <option value="USA">Nationwide</option>
          	<option value="AL">Alabama</option>
          	<option value="AK">Alaska</option>
          	<option value="AZ">Arizona</option>
          	<option value="AR">Arkansas</option>
          	<option value="CA">California</option>
          	<option value="CO">Colorado</option>
          	<option value="CT">Connecticut</option>
          	<option value="DE">Delaware</option>
          	<option value="DC">District Of Columbia</option>
          	<option value="FL">Florida</option>
          	<option value="GA">Georgia</option>
          	<option value="HI">Hawaii</option>
          	<option value="ID">Idaho</option>
          	<option value="IL">Illinois</option>
          	<option value="IN">Indiana</option>
          	<option value="IA">Iowa</option>
          	<option value="KS">Kansas</option>
          	<option value="KY">Kentucky</option>
          	<option value="LA">Louisiana</option>
          	<option value="ME">Maine</option>
          	<option value="MD">Maryland</option>
          	<option value="MA">Massachusetts</option>
          	<option value="MI">Michigan</option>
          	<option value="MN">Minnesota</option>
          	<option value="MS">Mississippi</option>
          	<option value="MO">Missouri</option>
          	<option value="MT">Montana</option>
          	<option value="NE">Nebraska</option>
          	<option value="NV">Nevada</option>
          	<option value="NH">New Hampshire</option>
          	<option value="NJ">New Jersey</option>
          	<option value="NM">New Mexico</option>
          	<option value="NY">New York</option>
          	<option value="NC">North Carolina</option>
          	<option value="ND">North Dakota</option>
          	<option value="OH">Ohio</option>
          	<option value="OK">Oklahoma</option>
          	<option value="OR">Oregon</option>
          	<option value="PA">Pennsylvania</option>
          	<option value="RI">Rhode Island</option>
          	<option value="SC">South Carolina</option>
          	<option value="SD">South Dakota</option>
          	<option value="TN">Tennessee</option>
          	<option value="TX">Texas</option>
          	<option value="UT">Utah</option>
          	<option value="VT">Vermont</option>
          	<option value="VA">Virginia</option>
          	<option value="WA">Washington</option>
          	<option value="WV">West Virginia</option>
          	<option value="WI">Wisconsin</option>
          	<option value="WY">Wyoming</option>
          </select>
        </div>
        <br>
        <input type="submit" value="Search">
      </form>
    </div>
    <div class="col-8">
      <br>
    </div>
  </div>
</div>
{% endblock %}
