{% extends 'base.html' %}

{% block head %}
<title>MAPLE Forecast</title>

{% endblock %}

{% block body %}
<div class="container">
  <div class="row">
    <div class="col-1">
    </div>
    <div class="col-10">
      <h2 style="text-align: center;"><strong>{{ date }}</strong></h2>
    </div>
    <div class="col-1">
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-12">
      <iframe style="border: none;" class="map", src="{{ url_for('.forecast_map') }}" width="100%" height="500px"></iframe>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-1">

    </div>
    <div class="col-10">
      <div class="d-flex justify-content-center my-4">
        <span class="font-weight-bold blue-text mr-2 mt-1">{{ backdate }}</span>
        <form class="range-field w-75" action="" method="POST">
          <!--<input class="day-slider border-0" type="range" min="-2" max="10" value="0" />-->
          <!--<input id="ex1" class="day-slider border-0" data-slider-id='ex1Slider' type="range" data-slider-min="-2" data-slider-max="10" data-slider-step="1" data-slider-value="0"/>-->
          <!-- <div class="slidecontainer"> -->
            <input class="day-slider border-0" name="dayslider" type="range" min="0" max="12" value="{{ sliderpos }}" onchange='if(this.value != {{ sliderpos }}) { this.form.submit(); }'><br>
            <!-- <input id="d0" type="date"  value="{{ backdate }}"   min="{{ backdate }}" max="{{ frontdate }}" name="d0" onchange='if(this.value != {{ date }}) { this.form.submit(); }'>
          </div>
            <p>Value: <span id="demo"></span></p> -->
        </form>
        <span class="font-weight-bold blue-text ml-2 mt-1">{{ frontdate }}</span>
      </div>
    </div>
    <div class="col-1">

    </div>
  </div>
</div>

{% endblock %}
