{% extends 'base.html' %}

{% block head %}
<title>MAPLE Home</title>

{% endblock %}


{% block body %}
<br>
<div class="container">
  <div class="row text-center">
    <div class="col-2">
    </div>
    <div class="col-8">
      <div class="card">
        <div class="card-body">
          <h2 class="card-header my-0 font-weight-normal">How do I use this site?</h2>
          <br>
          <p>
            <strong>
            This site uses a state-of-the-art neural network to generate weather forecast predictions using weather data curated by NOAA.
            To see a 10-day forecast, click the <a href="/forecast">"Forecast"</a> page. To see historical weather, click the <a href="/browse">"Browse"</a> page. To find out more about
            the site or our model, click the <a href="/about">"About Page"</a> or visit our Github repo <a href="https://github.com/hankdikeman/WeatherPred">here</a>.
            </strong>
          </p>
        </div>
      </div>
    </div>
    <div class="col-2">
    </div>
  </div>
</div>

<br>

<div class="container">
  <div class="card-deck mb-3 text-center">
    <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">Forecast</h4>
      </div>
      <div class="card-body">
        <ul class="list-unstyled mt-3 mb-4">
          <li>View weather predictions up to 10 days out for the Continental USA</li>
        </ul>
        <a href= "/forecast" class="btn btn-primary btn-lg" role="button">Go to page</a>
      </div>
    </div>
    <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">Search by Location</h4>
      </div>
      <div class="card-body">
        <ul class="list-unstyled mt-3 mb-4">
          <li>Search by location and date, view past data and MAPLE predictions</li>
        </ul>
        <a href= "/browse" class="btn btn-primary btn-lg" role="button">Go to page</a>
      </div>
    </div>
    <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">About the site</h4>
      </div>
      <div class="card-body">
        <ul class="list-unstyled mt-3 mb-4">
          <li>Find out how we make our predictions and how we compare to traditional prediction</li>
        </ul>
        <a href= "/about" class="btn btn-primary btn-lg" role="button">Go to page</a>
      </div>
    </div>
  </div>
</div>


{% endblock %}
